@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap");
body {
  background-color: #000;
  font-family: 'Montserrat', sans-serif; }

@media (max-width: 575px) {
  .info {
    margin-top: 50px;
    display: flex;
    flex-direction: flex;
    text-align: center;
    justify-content: space-evenly; }
    .info_fa-chevron {
      color: #fff;
      font-size: 2em;
      padding: 5px;
      margin-left: 30px; }
      .info_fa-chevron:hover {
        background-color: #cccccc;
        border-radius: 20px 10px; }
    .info_info {
      margin: 0 auto; }
    .info_img {
      width: 30%;
      border-radius: 50%; }
    .info_name {
      font-size: 20pt;
      color: #fff;
      padding-top: 0px; }

  .chats {
    text-align: center;
    width: 60%;
    margin-top: 20px;
    font-size: 1em; }
    .chats_1 {
      color: #fff;
      background-color: #001f3f;
      padding: 10px;
      border-radius: 15px;
      text-align: right;
      margin-left: auto;
      padding-right: 30px; }
    .chats_2 {
      color: #000;
      background-color: #cccccc;
      padding: 10px;
      border-radius: 15px;
      margin-left: 10px;
      text-align: left;
      padding-left: 30px; }
    .chats_3 {
      color: #fff;
      background-color: #001f3f;
      padding: 10px;
      border-radius: 15px;
      text-align: right;
      margin-left: auto;
      padding-right: 30px; }

  .tools {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px; }
    .tools-i {
      font-size: 2em;
      color: #fff; }
    .tools-i:hover {
      background-color: #fff;
      padding: 10px;
      color: #000;
      border-radius: 15px; }
    .tools_i-1 {
      margin-left: 10px; }

  #tools-chat {
    width: 65%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    font-size: 15pt; }

  #tools-chat:focus {
    background-color: #001f3f;
    color: #fff; }

  .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    /* Fondo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    margin: auto; }
    .loader_img {
      max-width: 100px;
      /* Tamaño máximo de la imagen del cargador */
      animation: spin 2s linear infinite; }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
      /* Rotación inicial */ }
    100% {
      transform: rotate(360deg);
      /* Rotación completa (una vuelta completa) */ } } }
@media screen and (min-width: 768px) and (max-width: 991px) {
  .info {
    margin-top: 50px;
    display: flex;
    flex-direction: flex;
    text-align: center;
    justify-content: space-evenly; }
    .info_fa-chevron {
      color: #fff;
      font-size: 2.5em;
      padding: 5px;
      margin-left: 30px; }
      .info_fa-chevron:hover {
        background-color: #cccccc;
        border-radius: 20px 10px; }
    .info_info {
      margin: 0 auto; }
    .info_img {
      width: 40%;
      border-radius: 50%; }
    .info_name {
      font-size: 2.2em;
      color: #fff;
      padding-top: 0px; }

  .chats {
    text-align: center;
    width: 60%;
    margin-top: 20px;
    font-size: 1.5em; }
    .chats_1 {
      color: #fff;
      background-color: #001f3f;
      padding: 10px;
      border-radius: 15px;
      text-align: right;
      margin-left: auto;
      padding-right: 30px; }
    .chats_2 {
      color: #000;
      background-color: #cccccc;
      padding: 10px;
      border-radius: 15px;
      margin-left: 10px;
      text-align: left;
      padding-left: 30px; }
    .chats_3 {
      color: #fff;
      background-color: #001f3f;
      padding: 10px;
      border-radius: 15px;
      text-align: right;
      margin-left: auto;
      padding-right: 30px; }

  .tools {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    gap: 10px;
    margin-top: 15%; }
    .tools-i {
      font-size: 2em;
      color: #fff; }
    .tools-i:hover {
      background-color: #fff;
      padding: 10px;
      color: #000;
      border-radius: 15px; }
    .tools_i-1 {
      margin-left: 10px; }

  #tools-chat {
    width: 65%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    font-size: 15pt; }

  #tools-chat:focus {
    background-color: #001f3f;
    color: #fff; }

  .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    /* Fondo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    margin: auto; }
    .loader_img {
      max-width: 100px;
      /* Tamaño máximo de la imagen del cargador */
      animation: spin 2s linear infinite; }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
      /* Rotación inicial */ }
    100% {
      transform: rotate(360deg);
      /* Rotación completa (una vuelta completa) */ } } }
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .info {
    margin-top: 50px;
    display: flex;
    flex-direction: flex;
    text-align: center;
    justify-content: space-evenly; }
    .info_fa-chevron {
      color: #fff;
      font-size: 2.5em;
      padding: 5px;
      margin-left: 30px; }
      .info_fa-chevron:hover {
        background-color: #cccccc;
        border-radius: 20px 10px; }
    .info_info {
      margin: 0 auto; }
    .info_img {
      width: 40%;
      border-radius: 50%; }
    .info_name {
      font-size: 2.2em;
      color: #fff;
      padding-top: 0px; }

  .chats {
    text-align: center;
    width: 60%;
    margin-top: 20px;
    font-size: 1.5em; }
    .chats_1 {
      color: #fff;
      background-color: #001f3f;
      padding: 10px;
      border-radius: 15px;
      text-align: right;
      margin-left: auto;
      padding-right: 30px; }
    .chats_2 {
      color: #000;
      background-color: #cccccc;
      padding: 10px;
      border-radius: 15px;
      margin-left: 10px;
      text-align: left;
      padding-left: 30px; }
    .chats_3 {
      color: #fff;
      background-color: #001f3f;
      padding: 10px;
      border-radius: 15px;
      text-align: right;
      margin-left: auto;
      padding-right: 30px; }

  .tools {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    gap: 10px;
    margin-top: 15%; }
    .tools-i {
      font-size: 2em;
      color: #fff; }
    .tools-i:hover {
      background-color: #fff;
      padding: 10px;
      color: #000;
      border-radius: 15px; }
    .tools_i-1 {
      margin-left: 10px; }

  #tools-chat {
    width: 65%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    font-size: 15pt; }

  #tools-chat:focus {
    background-color: #001f3f;
    color: #fff; }

  .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    /* Fondo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    margin: auto; }
    .loader_img {
      max-width: 100px;
      /* Tamaño máximo de la imagen del cargador */
      animation: spin 2s linear infinite; }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
      /* Rotación inicial */ }
    100% {
      transform: rotate(360deg);
      /* Rotación completa (una vuelta completa) */ } } }
@media screen and (min-width: 1200px) and (max-width: 1439px) {
  .info {
    margin-top: 50px;
    display: flex;
    flex-direction: flex;
    text-align: center;
    justify-content: space-evenly; }
    .info_fa-chevron {
      color: #fff;
      font-size: 2.5em;
      padding: 5px;
      margin-left: 30px; }
      .info_fa-chevron:hover {
        background-color: #cccccc;
        border-radius: 20px 10px; }
    .info_info {
      margin: 0 auto; }
    .info_img {
      width: 40%;
      border-radius: 50%; }
    .info_name {
      font-size: 2.2em;
      color: #fff;
      padding-top: 0px; }

  .chats {
    text-align: center;
    width: 60%;
    margin-top: 20px;
    font-size: 1.5em; }
    .chats_1 {
      color: #fff;
      background-color: #001f3f;
      padding: 10px;
      border-radius: 15px;
      text-align: right;
      margin-left: auto;
      padding-right: 30px; }
    .chats_2 {
      color: #000;
      background-color: #cccccc;
      padding: 10px;
      border-radius: 15px;
      margin-left: 10px;
      text-align: left;
      padding-left: 30px; }
    .chats_3 {
      color: #fff;
      background-color: #001f3f;
      padding: 10px;
      border-radius: 15px;
      text-align: right;
      margin-left: auto;
      padding-right: 30px; }

  .tools {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    gap: 10px;
    margin-top: 15%; }
    .tools-i {
      font-size: 2em;
      color: #fff; }
    .tools-i:hover {
      background-color: #fff;
      padding: 10px;
      color: #000;
      border-radius: 15px; }
    .tools_i-1 {
      margin-left: 10px; }

  #tools-chat {
    width: 65%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    font-size: 15pt; }

  #tools-chat:focus {
    background-color: #001f3f;
    color: #fff; }

  .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    /* Fondo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    margin: auto; }
    .loader_img {
      max-width: 150px;
      /* Tamaño máximo de la imagen del cargador */
      animation: spin 2s linear infinite; }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
      /* Rotación inicial */ }
    100% {
      transform: rotate(360deg);
      /* Rotación completa (una vuelta completa) */ } } }
@media screen and (min-width: 1440px) {
  .info {
    margin-top: 50px;
    display: flex;
    flex-direction: flex;
    text-align: center;
    justify-content: space-evenly; }
    .info_fa-chevron {
      color: #fff;
      font-size: 2.5em;
      padding: 5px;
      margin-left: 60px; }
      .info_fa-chevron:hover {
        background-color: #cccccc;
        border-radius: 20px 10px; }
    .info_info {
      margin: 0 auto; }
    .info_img {
      width: 40%;
      border-radius: 50%; }
    .info_name {
      font-size: 1.7em;
      color: #fff;
      padding-top: 0px; }

  .chats {
    text-align: center;
    width: 40%;
    margin-top: 20px;
    font-size: 1.3em; }
    .chats_1 {
      color: #fff;
      background-color: #001f3f;
      padding: 10px;
      border-radius: 15px;
      text-align: right;
      margin-left: auto;
      padding-right: 30px; }
    .chats_2 {
      color: #000;
      background-color: #cccccc;
      padding: 10px;
      border-radius: 15px;
      margin-left: 10px;
      text-align: left;
      padding-left: 30px; }
    .chats_3 {
      color: #fff;
      background-color: #001f3f;
      padding: 10px;
      border-radius: 15px;
      text-align: right;
      margin-left: auto;
      padding-right: 30px; }

  .tools {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    gap: 10px;
    margin-top: 15%; }
    .tools-i {
      font-size: 2em;
      color: #fff; }
    .tools-i:hover {
      background-color: #fff;
      padding: 10px;
      color: #000;
      border-radius: 15px; }
    .tools_i-1 {
      margin-left: 10px; }

  #tools-chat {
    width: 45%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    font-size: 15pt; }

  #tools-chat:focus {
    background-color: #001f3f;
    color: #fff; }

  .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    /* Fondo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    margin: auto; }
    .loader_img {
      max-width: 150px;
      /* Tamaño máximo de la imagen del cargador */
      animation: spin 2s linear infinite; }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
      /* Rotación inicial */ }
    100% {
      transform: rotate(360deg);
      /* Rotación completa (una vuelta completa) */ } } }

/*# sourceMappingURL=chat.css.map */
