body {
  background-color: #000;
  font-family: "Josefin Sans", sans-serif, "Josefin Slab", serif;
}

.header {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_fa-solid {
  color: #fff;
  font-size: 20pt;
  margin: 0px 20px 0px 1px;
}
.header_img {
  width: 170px;
  padding-top: 10px;
}

.options {
  margin: 50px auto;
  text-align: center;
  align-items: center;
  border-radius: 15px;
  width: 170px;
  justify-content: center;
  display: flex;
}
.options_lend {
  color: #cccccc;
  padding: 15px 30px 15px 30px;
  background-color: #001f3f;
  border-radius: 10px;
}
.options_borrow {
  color: #001f3f;
  padding: 15px 30px 15px 30px;
  background-color: #cccccc;
  border-radius: 10px;
}

.options2 {
  text-align: center;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.options2 :focus {
  background-color: #001f3f;
  color: #fff;
  border-color: transparent;
  text-decoration: none;
}
.options2 input {
  padding: 13px;
  width: 45%;
  height: auto;
  border-radius: 15px;
  background-color: #cccccc;
  font-size: 10pt;
  text-align: center;
}

.iframe_map {
  border-radius: 20px;
  display: block;
  margin: auto;
  margin-top: 20px;
}

.range {
  text-align: center;
  accent-color: #cccccc;
  font-size: 17pt;
}
.range_numbers {
  display: flex;
  justify-content: space-between;
  color: #cccccc;
  font-size: 13pt;
}

.btn {
  margin-top: 50px;
  text-align: center;
}
.btn_btn {
  background-color: #cccccc;
  color: #000;
  padding: 15px 30px;
  border-radius: 15px;
  font-weight: lighter;
  transition: background-color 0.3s, color 0.3s;
}
.btn_btn:hover {
  background-color: #fff;
  color: #001f3f;
}

.footer_copy {
  color: #fff;
  text-align: center;
  background-color: #001f3f;
  padding: 10px;
  font-family: monospace;
}

#lend-option {
  display: none;
}
#lend-option .hidden {
  transform: translateY(-100%);
  opacity: 0;
}

.contenedor .btnss {
  border-radius: 15px;
}
.contenedor-1 {
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  width: 80%;
  margin: auto;
  border-radius: 15px;
  background-color: #fff;
  padding-bottom: 20px;
}
.contenedor-1_seccion1 {
  text-align: center;
  display: flex;
  color: #000;
}
.contenedor-1_seccion1 img {
  margin-top: 10px;
  border-radius: 50%;
}
.contenedor-1_seccion1 .item {
  font-weight: bold;
  padding-left: 35px;
}
.contenedor-1_seccion1 .item2 {
  padding-left: 60px;
  padding-right: 30px;
}
.contenedor-1_seccion2 {
  text-align: center;
  display: flex;
  color: #000;
  justify-content: space-around;
}
.contenedor-1_seccion2 .time {
  padding-left: 5px;
  font-weight: bold;
}
.contenedor-1_seccion2 .days {
  padding-right: 60px;
}
.contenedor-1_seccion3 {
  display: flex;
  color: #000;
  justify-content: space-around;
}
.contenedor-1_seccion3 .name {
  font-weight: bold;
  padding-left: 15px;
}
.contenedor-1_seccion4 {
  justify-content: center;
  gap: 20px;
  text-align: center;
  display: flex;
  color: #000;
}
.contenedor-1_seccion4 #Deny1 {
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
  padding: 15px 30px;
  background-color: #ff0000;
  color: #cccccc;
  border-color: transparent;
}
.contenedor-1_seccion4 #Deny1:hover {
  background-color: #000;
  color: #fff;
}
.contenedor-1_seccion4 #Accept1 {
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
  padding: 15px 30px;
  background-color: #008000;
  color: #cccccc;
  border-color: transparent;
}
.contenedor-1_seccion4 #Accept1:hover {
  background-color: #000;
  color: #fff;
}
.contenedor-2 {
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  width: 80%;
  margin: 30px auto;
  border-radius: 15px;
  background-color: #fff;
  padding-bottom: 20px;
}
.contenedor-2_seccion1 {
  text-align: center;
  display: flex;
  color: #000;
}
.contenedor-2_seccion1 img {
  margin-top: 10px;
  border-radius: 50%;
  margin-left: -10px;
}
.contenedor-2_seccion1 .item {
  font-weight: bold;
  padding-left: 35px;
}
.contenedor-2_seccion1 .item2 {
  padding-left: 60px;
  padding-right: 30px;
}
.contenedor-2_seccion2 {
  text-align: center;
  display: flex;
  color: #000;
  justify-content: space-around;
}
.contenedor-2_seccion2 .time {
  padding-left: 5px;
  font-weight: bold;
}
.contenedor-2_seccion2 .days {
  padding-right: 60px;
}
.contenedor-2_seccion3 {
  display: flex;
  color: #000;
  justify-content: space-around;
}
.contenedor-2_seccion3 .name {
  font-weight: bold;
  padding-left: 15px;
}
.contenedor-2_seccion4 {
  justify-content: center;
  gap: 20px;
  text-align: center;
  display: flex;
  color: #000;
}
.contenedor-2_seccion4 #Deny2 {
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
  padding: 15px 30px;
  background-color: #ff0000;
  color: #cccccc;
  border-color: transparent;
}
.contenedor-2_seccion4 #Deny2:hover {
  background-color: #000;
}
.contenedor-2_seccion4 #Accept2 {
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
  padding: 15px 30px;
  background-color: #008000;
  color: #cccccc;
  border-color: transparent;
}
.contenedor-2_seccion4 #Accept2:hover {
  background-color: #000;
  color: #fff;
}

/* Agrega transiciones para los botones */
#lend-option {
  transition: background-color 0.3s, color 0.3s;
  display: none;
}

#borrow-option {
  transition: background-color 0.3s, color 0.3s;
}

/*# sourceMappingURL=lendborrow.css.map */
