@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap");
body {
  background-color: #000;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 575px) {
  .back {
    text-align: left;
    margin-left: 20px;
    margin-top: 50px;
  }
  .back_fa-chevron {
    color: #fff;
    font-size: 2em;
  }
  .text_text {
    color: #fff;
    font-size: 3em;
    text-align: center;
    margin-top: 30px;
  }
  .data {
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
    width: 80%;
    margin: 40px auto;
    padding: 10px;
    font-size: 1.1em;
  }
  .data .datad1_name, .data .datad1_tool, .data .datad1_time {
    font-weight: bolder;
  }
  .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Fondo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    margin: auto;
  }
  .loader_img {
    max-width: 100px; /* Tamaño máximo de la imagen del cargador */
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg); /* Rotación inicial */
    }
    100% {
      transform: rotate(360deg); /* Rotación completa (una vuelta completa) */
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .back {
    text-align: left;
    margin-left: 70px;
    margin-top: 50px;
  }
  .back_fa-chevron {
    color: #fff;
    font-size: 3em;
  }
  .text_text {
    color: #fff;
    font-size: 3.5em;
    text-align: center;
    margin-top: 30px;
  }
  .data {
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
    width: 80%;
    margin: 40px auto;
    padding: 10px;
    font-size: 1.5em;
  }
  .data .datad1_name, .data .datad1_tool, .data .datad1_time {
    font-weight: bolder;
  }
  .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Fondo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    margin: auto;
  }
  .loader_img {
    max-width: 100px; /* Tamaño máximo de la imagen del cargador */
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg); /* Rotación inicial */
    }
    100% {
      transform: rotate(360deg); /* Rotación completa (una vuelta completa) */
    }
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .back {
    text-align: left;
    margin-left: 70px;
    margin-top: 50px;
  }
  .back_fa-chevron {
    color: #fff;
    font-size: 3em;
  }
  .text_text {
    color: #fff;
    font-size: 3.5em;
    text-align: center;
    margin-top: 30px;
  }
  .data {
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
    width: 80%;
    margin: 40px auto;
    padding: 10px;
    font-size: 1.5em;
  }
  .data .datad1_name, .data .datad1_tool, .data .datad1_time {
    font-weight: bolder;
  }
  .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Fondo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    margin: auto;
  }
  .loader_img {
    max-width: 100px; /* Tamaño máximo de la imagen del cargador */
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg); /* Rotación inicial */
    }
    100% {
      transform: rotate(360deg); /* Rotación completa (una vuelta completa) */
    }
  }
}
@media screen and (min-width: 1200px) and (max-width: 1439px) {
  .back {
    text-align: left;
    margin-left: 100px;
    margin-top: 50px;
  }
  .back_fa-chevron {
    color: #fff;
    font-size: 3em;
  }
  .text_text {
    color: #fff;
    font-size: 4em;
    text-align: center;
    margin-top: 30px;
  }
  .data {
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
    width: 80%;
    margin: 40px auto;
    padding: 10px;
    font-size: 1.7em;
  }
  .data .datad1_name, .data .datad1_tool, .data .datad1_time {
    font-weight: bolder;
  }
  .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Fondo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    margin: auto;
  }
  .loader_img {
    max-width: 100px; /* Tamaño máximo de la imagen del cargador */
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg); /* Rotación inicial */
    }
    100% {
      transform: rotate(360deg); /* Rotación completa (una vuelta completa) */
    }
  }
}
@media screen and (min-width: 1440px) {
  .back {
    text-align: left;
    margin-left: 100px;
    margin-top: 50px;
  }
  .back_fa-chevron {
    color: #fff;
    font-size: 2.5em;
  }
  .text_text {
    color: #fff;
    font-size: 3em;
    text-align: center;
    margin-top: 30px;
  }
  .data {
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
    width: 30%;
    margin: 40px auto;
    padding: 10px;
    font-size: 1.3em;
  }
  .data .datad1_name, .data .datad1_tool, .data .datad1_time {
    font-weight: bolder;
  }
  .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Fondo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    margin: auto;
  }
  .loader_img {
    max-width: 100px; /* Tamaño máximo de la imagen del cargador */
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg); /* Rotación inicial */
    }
    100% {
      transform: rotate(360deg); /* Rotación completa (una vuelta completa) */
    }
  }
}

/*# sourceMappingURL=time_left.css.map */
