$color1: #fff;
$color2: #000;
$color3: #cccccc;
$color4: #001f3f;
$color5: #ff0000;
$color6: #008000;

body {
  background-color: $color2;
  font-family: "Josefin Sans", sans-serif, "Josefin Slab", serif;
}

.info {
  margin-top: 50px;
  display: flex;
  flex-direction: flex;
  text-align: center;
  justify-content: space-around;

  &_fa-chevron{
    color: $color1;
    font-size: 30pt;
    padding: 5px;

    &:hover{
        background-color: $color3;
        border-radius: 20px 10px;
        
    }
  }

  &_info{
    margin-right: 50px;
  }

  &_img {
    width: 40px;
  }

  &_name {
    font-size: 20pt;
    color: $color1;
    padding-top: 0px;
  }
}

.chats {
  text-align: center;
  width: 60%;
  margin-top: 20px;

  &_1 {
    color: $color1;
    background-color: $color4;
    padding: 10px;
    border-radius: 15px;
    margin-left: 10px;
    font-size: 15pt;
    text-align: right;
    margin-left: auto;
  }

  &_2 {
    color: $color2;
    background-color: #cccccc;
    padding: 10px;
    border-radius: 15px;
    margin-left: 10px;
    font-size: 15pt;
    text-align: left;
  }

  &_3 {
    color: $color1;
    background-color: $color4;
    padding: 10px;
    border-radius: 15px;
    margin-left: 10px;
    font-size: 15pt;
    text-align: right;
    margin-left: auto;
  }
}

.tools {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;

  &-i {
    font-size: 20pt;
    color: $color1;
  }

  &_i-1 {
    margin-left: 10px;
  }
}

#tools-chat {
  width: 65%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  font-size: 15pt;
}

#tools-chat:focus {
  background-color: $color4;
  color: $color1;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9); /* Fondo semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

  &_img {
    max-width: 100px; /* Tama침o m치ximo de la imagen del cargador */
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg); /* Rotaci칩n inicial */
    }
    100% {
      transform: rotate(360deg); /* Rotaci칩n completa (una vuelta completa) */
    }
}
}
