//TEXTOS
$color1: #fff;
$color2: #000;
$color3: #cccccc;
$color4: #001f3f;
$color5: #ff0000;
$color6: #008000;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap");

body {
  background-color: $color2;
  font-family: "Montserrat", sans-serif;
}

// Dispositivos moviles
@media (max-width: 575px) {
  .header {
    display: flex;
    margin-top: 30px;

    &__img {
      width: 60%;
      margin: 0 auto;
      padding-top: 10px;
    }
  }

  .text {
    text-align: center;
    &_text {
      color: $color1;
      font-size: 2.3em;
    }
  }

  .condition {
    margin: 0 auto;
    width: 85%;
    background-color: $color1;
    height: 350px;
    overflow-y: auto;
    text-align: left;

    &_text {
      color: $color2;
      font-size: 1em;
      padding: 10px;
      padding-right: 30px;
    }
  }

  .btn {
    border-style: none;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 1.5em;

    &-s {
      padding: 10px 40px;
      font-size: 15pt;
      margin: 10px;
      color: $color1;
      border-style: none;
    }

    #Deny {
      transition: background-color 0.3s, color 0.3s;
      text-align: center;
      background-color: $color5;
    }

    #Deny:hover {
      background-color: $color2;
      color: $color1;
    }

    #Accept {
      transition: background-color 0.3s, color 0.3s;
      text-align: center;
      background-color: $color6;
    }

    #Accept:hover {
      background-color: $color2;
      color: $color1;
    }
  }

  .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Fondo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    margin: auto;

    &_img {
      max-width: 100px; /* Tamaño máximo de la imagen del cargador */
      animation: spin 2s linear infinite;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg); /* Rotación inicial */
      }
      100% {
        transform: rotate(360deg); /* Rotación completa (una vuelta completa) */
      }
    }
  }
}

// Tablets
@media screen and (min-width: 768px) and (max-width: 991px){
  .header {
    display: flex;
    margin-top: 30px;

    &__img {
      width: 35%;
      margin: 0 auto;
      padding-top: 10px;
    }
  }

  .text {
    text-align: center;
    &_text {
      color: $color1;
      font-size: 2.8em;
    }
  }

  .condition {
    margin: 0 auto;
    width: 85%;
    background-color: $color1;
    height: 600px;
    overflow: scroll;

    &_text {
      color: $color2;
      font-size: 1.4em;
      padding: 10px;
    }
  }

  .btn {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;

    &-s {
      padding: 10px 40px;
      font-size: 2em;
      margin: 10px;
      color: $color1;
      border-style: none;
    }

    #Deny {
      transition: background-color 0.3s, color 0.3s;
      text-align: center;
      background-color: $color5;
    }

    #Deny:hover {
      background-color: $color2;
      color: $color1;
    }

    #Accept {
      transition: background-color 0.3s, color 0.3s;
      text-align: center;
      background-color: $color6;
    }

    #Accept:hover {
      background-color: $color2;
      color: $color1;
    }
  }

  .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Fondo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    margin: auto;

    &_img {
      max-width: 100px; /* Tamaño máximo de la imagen del cargador */
      animation: spin 2s linear infinite;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg); /* Rotación inicial */
      }
      100% {
        transform: rotate(360deg); /* Rotación completa (una vuelta completa) */
      }
    }
  }
}

// Tablet horizontal
@media screen and (min-width: 992px) and (max-width: 1199px){
  .header {
    display: flex;
    margin-top: 30px;

    &__img {
      width: 35%;
      margin: 0 auto;
      padding-top: 10px;
    }
  }

  .text {
    text-align: center;
    &_text {
      color: $color1;
      font-size: 2.8em;
    }
  }

  .condition {
    margin: 0 auto;
    width: 85%;
    background-color: $color1;
    height: 600px;
    overflow: scroll;

    &_text {
      color: $color2;
      font-size: 1.4em;
      padding: 10px;
    }
  }

  .btn {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;

    &-s {
      padding: 10px 40px;
      font-size: 2em;
      margin: 10px;
      color: $color1;
    }

    #Deny {
      transition: background-color 0.3s, color 0.3s;
      text-align: center;
      background-color: $color5;
    }

    #Deny:hover {
      background-color: $color2;
      color: $color1;
    }

    #Accept {
      transition: background-color 0.3s, color 0.3s;
      text-align: center;
      background-color: $color6;
    }

    #Accept:hover {
      background-color: $color2;
      color: $color1;
    }
  }

  .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Fondo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    margin: auto;

    &_img {
      max-width: 100px; /* Tamaño máximo de la imagen del cargador */
      animation: spin 2s linear infinite;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg); /* Rotación inicial */
      }
      100% {
        transform: rotate(360deg); /* Rotación completa (una vuelta completa) */
      }
    }
  }
}

// Portatil
@media screen and (min-width: 1200px) and (max-width: 1439px){
  .header {
    display: flex;
    margin-top: 30px;

    &__img {
      width: 35%;
      margin: 0 auto;
      padding-top: 10px;
    }
  }

  .text {
    text-align: center;
    &_text {
      color: $color1;
      font-size: 2.8em;
    }
  }

  .condition {
    margin: 0 auto;
    width: 85%;
    background-color: $color1;
    height: 600px;
    overflow: scroll;

    &_text {
      color: $color2;
      font-size: 1.6em;
      padding: 10px;
    }
  }

  .btn {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    
    &-s {
      border-color: transparent;
      padding: 10px 40px;
      font-size: 2em;
      margin: 10px;
      color: $color1;
    }

    #Deny {
      transition: background-color 0.3s, color 0.3s;
      text-align: center;
      background-color: $color5;
    }

    #Deny:hover {
      background-color: $color2;
      color: $color1;
    }

    #Accept {
      transition: background-color 0.3s, color 0.3s;
      text-align: center;
      background-color: $color6;
    }

    #Accept:hover {
      background-color: $color2;
      color: $color1;
    }
  }

  .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Fondo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    margin: auto;

    &_img {
      max-width: 100px; /* Tamaño máximo de la imagen del cargador */
      animation: spin 2s linear infinite;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg); /* Rotación inicial */
      }
      100% {
        transform: rotate(360deg); /* Rotación completa (una vuelta completa) */
      }
    }
  }
}

// PC Escritorio
@media screen and (min-width: 1440px){
  .header {
    display: flex;
    margin-top: 30px;

    &__img {
      width: 10%;
      margin: 0 auto;
      padding-top: 10px;
    }
  }

  .text {
    text-align: center;
    &_text {
      color: $color1;
      font-size: 1.8em;
    }
  }

  .condition {
    margin: 0 auto;
    width: 55%;
    background-color: $color1;
    height: 400px;
    overflow: scroll;

    &_text {
      color: $color2;
      font-size: 1.3em;
      padding: 10px;
    }
  }

  .btn {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    
    &-s {
      border-color: transparent;
      padding: 10px 40px;
      font-size: 1.5em;
      margin: 10px;
      color: $color1;
    }

    #Deny {
      transition: background-color 0.3s, color 0.3s;
      text-align: center;
      background-color: $color5;
    }

    #Deny:hover {
      background-color: $color2;
      color: $color1;
    }

    #Accept {
      transition: background-color 0.3s, color 0.3s;
      text-align: center;
      background-color: $color6;
    }

    #Accept:hover {
      background-color: $color2;
      color: $color1;
    }
  }

  .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Fondo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    margin: auto;

    &_img {
      max-width: 100px; /* Tamaño máximo de la imagen del cargador */
      animation: spin 2s linear infinite;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg); /* Rotación inicial */
      }
      100% {
        transform: rotate(360deg); /* Rotación completa (una vuelta completa) */
      }
    }
  }
}