//TEXTOS
$color1: #fff;
$color2: #000;
$color3: #cccccc;
$color4: #001f3f;
$color5: #ff0000;
$color6: #008000;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

body {
  background-color: $color2;
  font-family: 'Montserrat', sans-serif;
}

//Seccion Borrow
.header {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  &_fa-solid {
    color: $color1;
    font-size: 20pt;
    position: block;
    left: 0;
    margin-left: 20px;
    margin-right: 20px;
  }
  &_img {
    width: 170px;
    padding-top: 10px;
    padding-left: 20px;
  }
}

.header.opened .header_fa-solid {
  transform: translateX(0);
}

.options {
  margin: 50px auto;
  text-align: center;
  align-items: center;
  border-radius: 15px;
  width: 170px;
  justify-content: center;
  display: flex;
  &_lend {
    color: $color3;
    padding: 15px 30px 15px 30px;
    background-color: $color4;
    border-radius: 10px;
  }

  &_borrow {
    color: $color4;
    padding: 15px 30px 15px 30px;
    background-color: $color3;
    border-radius: 10px;
  }
}

.options2 {
  text-align: center;
  margin-top: 20px;
  display: flex;
  justify-content: center;

  :focus {
    background-color: $color4;
    color: $color1;
    border-color: transparent;
    text-decoration: none;
  }

  input {
    padding: 13px;
    width: 45%;
    height: auto;
    border-radius: 15px;
    background-color: $color3;
    font-size: 9.2pt;
    text-align: center;
  }
}

.iframe_map {
  border-radius: 20px;
  display: block;
  margin: auto;
  margin-top: 20px;
}

.range {
  margin-top: 20px;
  text-align: center;
  accent-color: $color3;
  font-size: 17pt;
  &_numbers {
    display: flex;
    justify-content: space-between;
    color: $color3;
    font-size: 15pt;
  }
}

.btn {
  margin-top: 50px;
  text-align: center;
  &_btn {
    background-color: $color3;
    color: $color2;
    padding: 15px 30px;
    border-radius: 15px;
    font-weight: lighter;
    transition: background-color 0.3s, color 0.3s;
  }

  &_btn:hover {
    background-color: $color4;
    color: $color1;
  }
}

.footer {
  &_copy {
    color: $color1;
    text-align: center;
    background-color: $color4;
    padding: 10px;
    font-family: monospace;
  }
}

//Seccion Lend

#lend-option {
  display: none;
  .hidden {
    transform: translateY(-100%);
    opacity: 0;
  }
}
.contenedor {
  .btnss {
    border-radius: 15px;
  }
  &-1 {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    width: 80%;
    margin: auto;
    border-radius: 15px;
    background-color: $color1;
    padding-bottom: 20px;
    &_seccion1 {
      text-align: center;
      display: flex;
      color: $color2;

      img {
        margin-top: 10px;
        border-radius: 50%;
        display: block;
        width: 30px;
        height: 30px;
      }

      .item {
        font-weight: bold;
        padding-left: 30px;
      }

      .item2 {
        padding-left: 60px;
        padding-right: 10px;
      }
    }

    &_seccion2 {
      text-align: center;
      display: flex;
      color: $color2;
      justify-content: space-around;

      .time {
        padding-left: 1px;
        font-weight: bold;
      }

      .days {
        padding-right: 60px;
      }
    }

    &_seccion3 {
      display: flex;
      color: $color2;
      justify-content: space-around;

      .name {
        font-weight: bold;
        padding-left: 15px;
      }
    }

    &_seccion4 {
      justify-content: center;
      gap: 20px;
      text-align: center;
      display: flex;
      color: $color2;

      #Deny1 {
        transition: background-color 0.3s, color 0.3s;
        text-align: center;
        padding: 15px 30px;
        background-color: $color5;
        color: $color3;
        border-color: transparent;
      }

      #Deny1:hover {
        background-color: $color2;
        color: $color1;
      }

      #Accept1 {
        transition: background-color 0.3s, color 0.3s;
        text-align: center;
        padding: 15px 30px;
        background-color: $color6;
        color: $color3;
        border-color: transparent;
      }

      #Accept1:hover {
        background-color: $color2;
        color: $color1;
      }
    }
  }

  &-2 {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    width: 80%;
    margin: 30px auto;
    border-radius: 15px;
    background-color: $color1;
    padding-bottom: 20px;
    &_seccion1 {
      text-align: center;
      display: flex;
      color: $color2;

      img {
        margin-top: 10px;
        border-radius: 50%;
        margin-right: -30px;
      }

      .item {
        font-weight: bold;
        padding-left: 30px;
      }

      .item2 {
        padding-left: 30px;
        padding-right: 30px;
      }
    }

    &_seccion2 {
      text-align: center;
      display: flex;
      color: $color2;
      justify-content: space-around;

      .time {
        padding-left: 5px;
        font-weight: bold;
      }

      .days {
        padding-right: 60px;
      }
    }

    &_seccion3 {
      display: flex;
      color: $color2;
      justify-content: space-around;

      .name {
        font-weight: bold;
        padding-left: 15px;
      }
    }

    &_seccion4 {
      justify-content: center;
      gap: 20px;
      text-align: center;
      display: flex;
      color: $color2;

      #Deny2 {
        transition: background-color 0.3s, color 0.3s;
        text-align: center;
        padding: 15px 30px;
        background-color: $color5;
        color: $color3;
        border-color: transparent;
      }

      #Deny2:hover {
        background-color: $color2;
      }

      #Accept2 {
        transition: background-color 0.3s, color 0.3s;
        text-align: center;
        padding: 15px 30px;
        background-color: $color6;
        color: $color3;
        border-color: transparent;
      }

      #Accept2:hover {
        background-color: $color2;
        color: $color1;
      }
    }
  }
}
/* Agrega transiciones para los botones */
#lend-option {
  transition: background-color 0.3s, color 0.3s;
  display: none;
}

#borrow-option {
  transition: background-color 0.3s, color 0.3s;
}

.nav {
  display: none;
  text-align: center;
  position: fixed;
  background-color: $color4;
  width: 60%;
  height: 100vh;
  left: 0px;
  top: 0px;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;

  &_fa-solid{
    color: $color1;
    font-size: 20pt;
    position: absolute;
    margin-left: 40px;
    margin-top: 50px;
  }

  &_img {
    width: 150px;
    margin-top: 50px;
  }

  &_a {
    text-align: center;
    text-decoration: none;
    font-weight: bolder;

    :hover {
      background-color: $color3;
      color: $color4;
    }
  }

  &_a-3 {
    justify-content: bottom;
  }

  &_uls {
    background-color: $color1;
    color: $color2;
    padding: 10px;
    border-radius: 25px;
    font-size: 14pt;

    :visited {
      color: $color2;
    }

    :link {
      color: $color2;
    }
  }

  &_ul-3 {
    margin-top: 40px;
  }
}

.header.opened .header_fa-solid {
  right: 20px; /* Posición del botón cuando el menú está abierto */
}

.header.opened .nav {
  display: block; /* Cambio de display: none a display: fixed */
}

.header.opened .nav_btn_hidden {
  display: none; /* Ocultar el botón del menú cuando está abierto */
}

.header.opened .nav_img {
  display: none; /* Opcional: ocultar el logotipo cuando está abierto */
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9); /* Fondo semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  margin: auto;

  &_img {
    max-width: 100px; /* Tamaño máximo de la imagen del cargador */
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg); /* Rotación inicial */
    }
    100% {
      transform: rotate(360deg); /* Rotación completa (una vuelta completa) */
    }
}
}


