//TEXTOS
$color1: #fff;
$color2: #000;
$color3: #cccccc;
$color4: #001f3f;
$color5: #ff0000;
$color6: #008000;
$color7: #ffff00;
$color8: #3a76b5;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap");

body {
  background-color: $color2;
  font-family: "Montserrat", sans-serif;
}
// Dispositivos moviles
@media (max-width: 575px) {
  .header {
    margin-top: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    &_fa-chevron {
      color: $color1;
      font-size: 2em;
    }

    &_h2 {
      color: $color1;
      font-size: 2.5em;
      margin-right: 70px;
    }
  }

  .image {
    text-align: center;
    &_img {
      width: 60%;
      border-radius: 50%;
    }
  }

  .name {
    text-align: center;
    &_name {
      font-size: 1.8em;
      color: $color1;
      object-fit: contain;
    }
  }

  .informations {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    .antiguity {
      text-align: center;

      &_text {
        color: $color1;
        font-size: 1.5em;
      }

      &_time {
        color: $color1;
        font-size: 1.5em;
      }
    }

    .stars {
      &_i {
        margin-top: 40px;
        color: $color7;
        font-size: 1.5em;
        flex-direction: column;
      }
      &_i_fa-stars {
        justify-content: center;
      }
    }
  }

  .stars_pa {
    &-p {
      color: $color1;
      font-size: 1.5em;
    }
  }

  .com {
    &-s {
      display: flex;
      margin-bottom: 20px;
    }

    &_photo {
      width: 60px;
      height: 60px;
      border-radius: 40%;
      object-fit: cover;
      margin-left: 15px;
      margin-top: 30px;
      display: flex;
    }

    &_section {
      &_name {
        color: $color8;
        margin-left: 30px;
        font-size: 1.2em;
      }

      &_com {
        color: $color3;
        margin-left: 30px;
        font-size: 1em;
      }
    }
  }

  .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Fondo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    margin: auto;

    &_img {
      max-width: 100px; /* Tamaño máximo de la imagen del cargador */
      animation: spin 2s linear infinite;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg); /* Rotación inicial */
      }
      100% {
        transform: rotate(360deg); /* Rotación completa (una vuelta completa) */
      }
    }
  }
}

// Tablets
@media screen and (min-width: 768px) and (max-width: 991px){
    .header {
      margin-top: 20px;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: space-evenly;
      &_fa-chevron {
        color: $color1;
        font-size: 3em;
      }
  
      &_h2 {
        color: $color1;
        font-size: 2.5em;
        margin-right: 170px;
      }
    }
  
    .image {
      text-align: center;
      &_img {
        width: 40%;
        border-radius: 50%;
      }
    }
  
    .name {
      text-align: center;
      &_name {
        font-size: 2.5em;
        color: $color1;
        object-fit: contain;
      }
    }
  
    .informations {
      display: flex;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      .antiguity {
        text-align: center;
  
        &_text {
          color: $color1;
          font-size: 2em;
        }
  
        &_time {
          color: $color1;
          font-size: 2em;
        }
      }
  
      .stars {
        &_i {
          margin-top: 40px;
          color: $color7;
          font-size: 2em;
          flex-direction: column;
        }
        &_i_fa-stars {
          justify-content: center;
        }
      }
    }
  
    .stars_pa {
      &-p {
        color: $color1;
        font-size: 2em;
      }
    }
  
    .com {
      &-s {
        display: flex;
        margin-bottom: 20px;
      }
  
      &_photo {
        width: 60px;
        height: 60px;
        border-radius: 40%;
        object-fit: cover;
        margin-left: 15px;
        margin-top: 30px;
        display: flex;
      }
  
      &_section {
        &_name {
          color: $color8;
          margin-left: 30px;
          font-size: 1.6em;
        }
  
        &_com {
          color: $color3;
          margin-left: 30px;
          font-size: 1.3em;
        }
      }
    }
  
    .loader {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.9); /* Fondo semi-transparente */
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 9999;
      margin: auto;
  
      &_img {
        max-width: 100px; /* Tamaño máximo de la imagen del cargador */
        animation: spin 2s linear infinite;
      }
  
      @keyframes spin {
        0% {
          transform: rotate(0deg); /* Rotación inicial */
        }
        100% {
          transform: rotate(360deg); /* Rotación completa (una vuelta completa) */
        }
      }
    }
  }

//   Tablet Horizontal
@media screen and (min-width: 992px) and (max-width: 1199px){
    .header {
      margin-top: 20px;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: space-evenly;
      &_fa-chevron {
        color: $color1;
        font-size: 3em;
      }
  
      &_h2 {
        color: $color1;
        font-size: 2.5em;
        margin-right: 230px;
      }
    }
  
    .image {
      text-align: center;
      &_img {
        width: 40%;
        border-radius: 50%;
      }
    }
  
    .name {
      text-align: center;
      &_name {
        font-size: 2.5em;
        color: $color1;
        object-fit: contain;
      }
    }
  
    .informations {
      display: flex;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      .antiguity {
        text-align: center;
  
        &_text {
          color: $color1;
          font-size: 2em;
        }
  
        &_time {
          color: $color1;
          font-size: 2em;
        }
      }
  
      .stars {
        &_i {
          margin-top: 40px;
          color: $color7;
          font-size: 2em;
          flex-direction: column;
        }
        &_i_fa-stars {
          justify-content: center;
        }
      }
    }
  
    .stars_pa {
      &-p {
        color: $color1;
        font-size: 2em;
      }
    }
  
    .com {
      &-s {
        display: flex;
        margin-bottom: 20px;
      }
  
      &_photo {
        width: 60px;
        height: 60px;
        border-radius: 40%;
        object-fit: cover;
        margin-left: 15px;
        margin-top: 30px;
        display: flex;
      }
  
      &_section {
        &_name {
          color: $color8;
          margin-left: 30px;
          font-size: 1.6em;
        }
  
        &_com {
          color: $color3;
          margin-left: 30px;
          font-size: 1.3em;
        }
      }
    }
  
    .loader {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.9); /* Fondo semi-transparente */
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 9999;
      margin: auto;
  
      &_img {
        max-width: 100px; /* Tamaño máximo de la imagen del cargador */
        animation: spin 2s linear infinite;
      }
  
      @keyframes spin {
        0% {
          transform: rotate(0deg); /* Rotación inicial */
        }
        100% {
          transform: rotate(360deg); /* Rotación completa (una vuelta completa) */
        }
      }
    }
  }

//   Portatil
@media screen and (min-width: 1200px) and (max-width: 1439px){
    .header {
      margin-top: 20px;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: space-evenly;
      &_fa-chevron {
        color: $color1;
        font-size: 3em;
      }
  
      &_h2 {
        color: $color1;
        font-size: 2.5em;
        margin-right: 300px;
      }
    }
  
    .image {
      text-align: center;
      &_img {
        width: 30%;
        border-radius: 50%;
      }
    }
  
    .name {
      text-align: center;
      &_name {
        font-size: 2.5em;
        color: $color1;
        object-fit: contain;
      }
    }
  
    .informations {
      display: flex;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      .antiguity {
        text-align: center;
  
        &_text {
          color: $color1;
          font-size: 2em;
        }
  
        &_time {
          color: $color1;
          font-size: 2em;
        }
      }
  
      .stars {
        &_i {
          margin-top: 40px;
          color: $color7;
          font-size: 2em;
          flex-direction: column;
        }
        &_i_fa-stars {
          justify-content: center;
        }
      }
    }
  
    .stars_pa {
      &-p {
        color: $color1;
        font-size: 2em;
      }
    }
  
    .com {
      &-s {
        display: flex;
        margin-bottom: 20px;
      }
  
      &_photo {
        width: 60px;
        height: 60px;
        border-radius: 40%;
        object-fit: cover;
        margin-left: 15px;
        margin-top: 30px;
        display: flex;
      }
  
      &_section {
        &_name {
          color: $color8;
          margin-left: 30px;
          font-size: 1.8em;
        }
  
        &_com {
          color: $color3;
          margin-left: 30px;
          font-size: 1.5em;
        }
      }
    }
  
    .loader {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.9); /* Fondo semi-transparente */
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 9999;
      margin: auto;
  
      &_img {
        max-width: 150px; /* Tamaño máximo de la imagen del cargador */
        animation: spin 2s linear infinite;
      }
  
      @keyframes spin {
        0% {
          transform: rotate(0deg); /* Rotación inicial */
        }
        100% {
          transform: rotate(360deg); /* Rotación completa (una vuelta completa) */
        }
      }
    }
  }


  // PC Escritorio
  @media screen and (min-width: 1440px){
    .header {
      margin-top: 20px;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: space-evenly;
      &_fa-chevron {
        color: $color1;
        font-size: 2.2em;
      }
  
      &_h2 {
        color: $color1;
        font-size: 2.2em;
        margin-right: 400px;
      }
    }
  
    .image {
      text-align: center;
      &_img {
        width: 20%;
        border-radius: 50%;
      }
    }
  
    .name {
      text-align: center;
      &_name {
        font-size: 1.8em;
        color: $color1;
        object-fit: contain;
      }
    }
  
    .informations {
      display: flex;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      .antiguity {
        text-align: center;
  
        &_text {
          color: $color1;
          font-size: 1.7em;
        }
  
        &_time {
          color: $color1;
          font-size: 1.7em;
        }
      }
  
      .stars {
        &_i {
          margin-top: 40px;
          color: $color7;
          font-size: 1.7em;
          flex-direction: column;
        }
        &_i_fa-stars {
          justify-content: center;
        }
      }
    }
  
    .stars_pa {
      &-p {
        color: $color1;
        font-size: 1.7em;
      }
    }
  
    .com {
      &-s {
        display: flex;
        margin-bottom: 20px;
      }
  
      &_photo {
        width: 60px;
        height: 60px;
        border-radius: 40%;
        object-fit: cover;
        margin-left: 15px;
        margin-top: 30px;
        display: flex;
      }
  
      &_section {
        &_name {
          color: $color8;
          margin-left: 30px;
          font-size: 1.5em;
        }
  
        &_com {
          color: $color3;
          margin-left: 30px;
          font-size: 1.2em;
        }
      }
    }
  
    .loader {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.9); /* Fondo semi-transparente */
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 9999;
      margin: auto;
  
      &_img {
        max-width: 150px; /* Tamaño máximo de la imagen del cargador */
        animation: spin 2s linear infinite;
      }
  
      @keyframes spin {
        0% {
          transform: rotate(0deg); /* Rotación inicial */
        }
        100% {
          transform: rotate(360deg); /* Rotación completa (una vuelta completa) */
        }
      }
    }
  }

