//TEXTOS
$color1: #fff;
$color2: #000;
$color3: #cccccc;
$color4: #001f3f;

body {
  background-color: $color2;
  font-family: "Josefin Sans", sans-serif, "Josefin Slab", serif;
}

.header {
  display: flex;

  &__img {
    width: 170px;
    margin: 0 auto;
    padding-top: 10px;
  }
}

.text {
  &_One {
    text-align: center;
    color: $color3;
    font-size: 18pt;
    font-weight: lighter;
  }
}

.image {
  text-align: center;
  &_image {
    color: $color1;
    display: block;
    text-align: center;
    font-size: 130pt;
  }
}

.input {
  &_container {
    text-align: center;
    margin: 50px auto;
  }

  &_input {
    display: none;
  }

  &_label {
    background-color: $color3;
    color: $color4;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  &_label:hover {
    background-color: $color1;
    color: $color4;
    border: 2px solid $color4;
  }

  &_continue {
    background-color: $color4;
    color: $color1;
    display: block;
    text-align: center;
    margin: 50px auto;
    padding: 15px 20px;
    border-radius: 5px;
    border-color: transparent;
  }

  &_continue:hover {
    background-color: $color1;
    color: $color4;
  }
}

.footer {
  &_copy {
    color: $color1;
    text-align: center;
    background-color: $color4;
    padding: 10px;
    font-family: monospace;
  }
}
